@page "/contato"

<h3>Pagina de contato</h3>

<h3>Desenvolvido por:</h3>

<p>
    <em>
        Luiz Gustavo Leal Cortez - CB3015386
        Rodrigo Rebelo - CB3016871
    </em>
    <br />
</p>

@code {

}
